body {
  font-family: Arial;
  background: #f0fff0;
  padding: 40px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  background: green;
  color: white;
  border: none;
}
